<mat-card class="card">
    <mat-card-header>
      
      <mat-card-title>Help-Desk</mat-card-title>
      <mat-card-subtitle>JC Tech</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/src/assets/img/side-logo.jpg" alt="Imagem home helpdesk">
    <mat-card-content>
      <p>
        App Help Desk, parte da inteeface de aplicação que tem como função de realizar o controle de chamados de acordo com perfis de clientes e técnicos a partir de realização de chamados..
      </p>
    </mat-card-content>
    
  </mat-card>
  